@{
    ViewData["Title"] = "Home Page";
}
@*Make background image*@
<style>
    body 
    {
        background-image: url("https://i.pinimg.com/736x/53/c0/28/53c02839dec9b337d03c790c9bab6d6d.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Welcome to the Cars Database</h1>
    @*<img src="https://i.pinimg.com/originals/41/b5/4f/41b54f846e05a231aeb8591eb312e678.png" height="450px" width="450px"/>*@
</div>
